.git
.vscode
*.log
logs
coverage
build
node_modules
**/node_modules
**/dist
**/build
**/coverage
**/.turbo
**/.cache
.env
.env.*
!.env.example
tmp
temp
docker-data
**/.expo
**/.expo-shared
**/target
**/DerivedDataCache
**/Intermediate
**/Saved
**/Library
**/Build
**/Temp
**/UserSettings
memories
